---
import Layout from "../layouts/Layout.astro"
import Searchbar from "../components/Searchbar.astro"
// server-side js goes here
---

<Layout>
	<div>
		<h1>
			Community Development Assistant
		</h1>
		<p id="home-description">
			The Community Development Assistant is here to help you file a permit, zoning requests, and acquire licensing in unincorporated Clayton County
		</p>
		<div>
			<p>
				<strong>Type an address below to verify that it is in Unincorporated Clayton County</strong>
			</p>
			<p>Then you'll be able to advance to the Assistant</p>
			<Searchbar />
			<button class="button grey">Can't find your address?</button>
		</div>
		<divider />
		<div>
			<p>If you already know how to navigate our Customer Self Service Portal, click below</p>
			<button class="button white-bg orange-border">Existing Customers with CSS Login</button>
		</div>
	</div>
</Layout>
